<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find sabr_pkg)/worlds/world_results_complex.world"/>
  	</include>
     <group ns="uav">
        <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
            <arg name="name" default="uav"/>
            <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_kinectSABR.gazebo.xacro"/>
            <arg name="tf_prefix" default="uav"/>
            <arg name="x" value="5" />
            <arg name="y" value="0" />
        </include>
    </group>
</launch>